<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI 소믈리에</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/chat/chat.css}" rel="stylesheet">
</head>
<body>

<div class="container text-center">
    <div>
        <p id="question" th:text="${question}">질문을 불러오는 중...</p>
    </div>

    <form id="answerForm" action="/chat" th:action method="post">
        <div class="form-group">
            <label>
                <input type="text" name="answer" class="form-control" placeholder="Your answer" required>
            </label>
        </div>
        <button type="submit" class="btn btn-primary">대답</button>
    </form>

</div>

</body>
</html>
