<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sommelier Bot - Wine Recommendation</title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/home/home.css}" rel="stylesheet">
</head>
<body>

<div class="d-flex align-items-center justify-content-center min-vh-100">
  <div class="container text-center">
    <a href="/chat/1" th:text="#{homeBtn}" class="btn btn-primary btn-lg"></a>
  </div>
</div>
</body>
</html>
